@use 'colors';
@use 'typography';

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  font-family: 'League Spartan', sans-serif;
  background-color: colors.$parchment;
  color: colors.$vintage-black;
}

.container {
  overflow: hidden;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.loading {
  overflow-y: hidden;
}