@use '../global/colors';
@use '../global/typography';

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  background-color: colors.$parchment;
  font-family: 'Arvo', serif;
}
