@use "../global/colors";
@use "./mixins";

.canvas-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 9.5rem;
  height: 65vh;
  width: 32vw;
  overflow: hidden;
  z-index: 3;
  pointer-events: none;
  outline: 1px solid red;

  @include mixins.uw-5120{
    margin-left: 0;
    height: 50vh;
    width: 18vw;
  }

  @include mixins.uw-3840{
    margin-left: 6rem;
    height: 52.5vh;
    width: 20vw;
  }

  @include mixins.uw-3440{
    margin-left: 5rem;
    height: 55vh;
    width: 22vw;
  }

  @include mixins.uw-2560{
    margin-left: 9rem;
    width: 57.5vh;
    width: 24vw;
  }

  @include mixins.xxl-screen{
    width: 32vw;
  }

  @include mixins.lg-screen{
    width: 40vw;
  }
}

// .canvas {
//   width: 100%;
//   height: 100%; 
// }

.webgl-warning {
  display: none;
}

.webgl-warning-visible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: colors.$parchment;
  font-size: 24px;
  text-align: center;
  z-index: 999;
}

.webgl-warning-visible p {
  margin: 0;
  padding: 20px;
}