@use "../global/typography";
@use "../global/colors";
@use "./mixins";

#features {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .feature-section {
    outline: 1px solid blue;
    height: 100vh;
    display: flex;
    align-items: center;

    @include mixins.md-768 {
      height: 70vh;
    }

    .features-content {
      margin-inline: 1rem;
      width: 100%;
      max-width: 850px;
      position: relative;
      padding: 1rem;
      outline: 1px solid blue;
      
      @include mixins.xxs-max-479 {
        margin-top: 10rem;
        padding: 0;
      }

      @include mixins.xs-480 {
        margin-top: 10rem;
        margin-left: 3rem;
      }

      @include mixins.sm-510 {
        margin-top: 20rem;
        margin-left: 3rem;
      }

      @include mixins.md-768 {
        margin-left: 3rem;
      }


      .features-content__title {
        font-family: "Old Standard TT", serif;
        font-size: 2.5rem;
        text-align: right;
        outline: 1px solid blue;

        @include mixins.xxs-max-479 {
          text-align: center;
          font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
        }

        @include mixins.xs-480 {
          font-size: clamp(1.375rem, -0.694rem + 6.8966vw, 1.5rem);
        }

        @include mixins.sm-510 {
          margin-left: 3rem;
          font-size: clamp(1.5rem, 1.2519rem + 0.7782vw, 1.625rem);
        }

        @include mixins.md-768 {
          font-size: clamp(1.625rem, 1.1945rem + 0.8969vw, 1.75rem);
        }
      }

      .features-content__text {
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.6;
        outline: 1px solid blue;
        
        @include mixins.xxs-max-479 {
          text-align: left;
          line-height: 1.2;
          font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
        }

        @include mixins.xs-480 {
          font-size: clamp(1rem, -1.069rem + 6.8966vw, 1.125rem);
        }

        @include mixins.sm-510 {
          font-size: clamp(1.125rem, 0.8769rem + 0.7782vw, 1.25rem);
        }

        @include mixins.md-768 {
          font-size: clamp(1.125rem, 0.6945rem + 0.8969vw, 1.25rem);
        }

      }
    }
  }
}