@use "../global/typography";
@use "../global/colors";

#features {
  height: 100vh;
  outline: 1px solid red;
  .features__content {
    display: flex;
    align-items: center;
    margin-inline: 1rem;
    width: 100%;
    max-width: 875px;
    position: relative;
    padding: 1rem;

    .features__text {
      font-size: 1.2rem;
      line-height: 1.7;
    }
  }
}
