@use "../global/typography";
@use "../global/colors";
@use "../layout/mixins";

.loading {
  overflow-y: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .main-section {
    // outline: 1px solid blue;
    height: 100vh;
    display: flex;
    align-items: center;

    .main-content {
      margin-inline: 1rem;
      width: 100%;
      max-width: 850px;
      position: relative;
      padding: 1rem;
      //outline: 1px solid green;

      @include mixins.xxs-max-479 {
        top: 38vh;
        margin-bottom: 20rem;
      }

      @include mixins.xs-480 {
        margin-left: 3rem;
        top: 43vh;
        margin-bottom: 20rem;
      }

      @include mixins.sm-510 {
        top: 36vh;
        margin-left: 3rem;
      }

      @include mixins.md-768 {
        top: 44vh;
        margin-left: 3rem;
      }

      @include mixins.lg-992 {
        top: 26vh;
      }

      @include mixins.xl-1200 {
        max-width: 650px;
      }

      .main-content__title {
        font-family: "Old Standard TT", serif;
        font-size: 2.5rem;
        text-align: right;
        //outline: 1px solid red;

        @include mixins.xxs-max-479 {
          .the-the {
            display: none;
          }
          text-align: center;
          font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
        }

        @include mixins.xs-480 {
          font-size: clamp(1.375rem, -0.694rem + 6.8966vw, 1.5rem);
        }

        @include mixins.sm-510 {
          font-size: clamp(1.5rem, 1.2519rem + 0.7782vw, 1.625rem);
        }

        @include mixins.md-768 {
          font-size: clamp(1.625rem, 1.1945rem + 0.8969vw, 1.75rem);
        }

        @include mixins.lg-992 {
          top: 26vh;
        }

 
      }

      .main-content__text {
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.3;
        //outline: 1px solid red;

        @include mixins.xxs-max-479 {
          text-align: left;
          font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
        }

        @include mixins.xs-480 {
          font-size: clamp(1rem, -1.069rem + 6.8966vw, 1.125rem);
        }

        @include mixins.sm-510 {
          font-size: clamp(1.125rem, 0.8769rem + 0.7782vw, 1.25rem);
        }

        @include mixins.md-768 {
          font-size: clamp(1.125rem, 0.6945rem + 0.8969vw, 1.25rem);
        }

        @include mixins.uw-2560 {
          font-size: clamp(1.75rem, 1.3859rem + 0.2275vw, 1.875rem);
        }

        @include mixins.uw-3440 {
          font-size: clamp(1.875rem, 0.7973rem + 0.5013vw, 2rem);
        }

        @include mixins.uw-3840 {
          font-size: clamp(2rem, 1.625rem + 0.1563vw, 2.125rem);
        }

        @include mixins.uw-5120 {
          font-size: clamp(2.125rem, 1.9167rem + 0.0651vw, 2.25rem);
        }
      }
    }
  }
}
