@use "../global/typography";
@use "../global/colors";

.loading {
  overflow-y: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .main-section {
    // outline: 1px solid red;
    height: 100vh;
    display: flex;
    align-items: center;

    .main-content {
      margin-inline: 1rem;
      width: 100%;
      max-width: 850px;
      position: relative;
      padding: 1rem;

      .main-content__title {
        font-family: "Old Standard TT", serif;
        font-size: 2.5rem;
        text-align: right;
       // outline: 1px solid red;
      }

      .main-content__text {
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.6;
       // outline: 1px solid red;
      }

      .order-button {
        text-decoration: none;
        transition: 0.1s;
        float: right;
        padding: 0.7rem 1.4rem;
        border-radius: 2px;
        font-size: 1.2rem;
        background-color: colors.$vintage-black;
        color: colors.$parchment;

        &:hover{
          background-color: colors.$light-gold;
          color: colors.$parchment;
        }
      
        &.light {
          background-color: colors.$vintage-black;
          color: colors.$parchment;
      
          &:hover{
            background-color: colors.$light-gold;
            color: colors.$vintage-black;
          }
        }
      
        &.dark {
          background-color: colors.$brass;
          color: colors.$vintage-black;
      
          &:hover{
            background-color: colors.$light-gold;
            color: colors.$vintage-black;
          }
        }
      }
      
    }
  }
}
