@use "../global/typography";
@use "../global/colors";

.loading {
  overflow-y: hidden;
}

#watch-info {
  & > * {
    display: flex;
    justify-content: flex-end;
  }
}

#product {

  align-items: center; 
  height: 100vh;
  
  .main-content {
    margin-inline: 1rem;
    
    top: 3rem;
    width: 100%;
    max-width: 875px;
    position: relative;
    padding: 1rem;

    .main-content__title {
      font-family: "Old Standard TT", serif;
      font-size: 2.5rem;
      text-align: right;
    }

    .main-content__text__one {
      font-size: 1.2rem;
      line-height: 1.7;
    }

    .main-content__order__button {
      text-decoration: none;
      transition: 0.1s;
      float: right;
      padding: 0.7rem 1.4rem;
      border-radius: 2px;
      font-size: 1.2rem;

      background-color: colors.$vintage-black;
      color: colors.$parchment;

      &:hover,
      &:focus {
        background-color: colors.$brass;
        color: colors.$parchment;
      }
    }
  }
}
