@use '../global/typography';
@use '../global/colors';

.main-content {
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    max-width: 50%;
    z-index: 5;
    outline: 2px solid colors.$rusted-red;

  .main-content__title {
    text-align: right;
    font-family: "Old Standard TT", serif;
    font-size: 2.5rem;
  }

  .main-content__text {
    font-size: 1.3rem;
   
  }
}
