@use "../global/typography";
@use "../global/colors";

nav {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Old Standard TT", serif;
  background-color: colors.$parchment;
  border-bottom: 1px solid colors.$vintage-black;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding-block: 0.5rem;
  transition: 0.2s;

  .logo {
    padding-left: 2rem;
    .logo__h1 {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      animation: spin 3s linear infinite;
    }
  }
}

.nav__links {
  list-style: none;

  li {
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
    padding-inline: 2rem;
    &:hover {
      transform: scale(1.2);
    }

    a {
      text-decoration: none;
      color: inherit;
      &.scrolled {
        background-color: colors.$parchment;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
