@use "../global/typography";
@use "../global/colors";
@use "../layout/mixins";

nav {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Old Standard TT", serif;
  background-color: colors.$parchment;
  border-bottom: 1px solid colors.$vintage-black;
  width: 100vw;
  margin: 0 auto;
  transition: 0.2s;
  z-index: 800;

  &.light {
    background-color: colors.$parchment;
    border-bottom: 1px solid colors.$vintage-black;
    color: colors.$vintage-black;
  }

  &.dark {
    background-color: colors.$vintage-black;
    border-bottom: 1px solid colors.$parchment;
    color: colors.$parchment;
  }

  .logo {
    padding-left: 2rem;
    .logo__h1 {
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      animation: spin 3s linear infinite;
    }
  }

  @include mixins.sm-510 {
    .logo {
      padding-left: 1rem;
      #theme-toggle {
        width: 30px;
        height: 30px;
      }
      .logo__name {
        display: none;
      }
    }
  }

  @include mixins.xs-480 {
    .logo {
      padding-left: 1rem;
      #theme-toggle {
        width: 30px;
        height: 30px;
      }
      .logo__name {
        display: none;
      }
    }
  }

  @include mixins.xxs-max-479 {
    .logo {
      padding-left: 1rem;
      #theme-toggle {
        width: 30px;
        height: 30px;
      }
      .logo__name {
        display: none;
      }
    }
  }
}

.nav__links {
  list-style: none;

  li {
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
    padding-inline: 2rem;
    &:hover {
      color: colors.$light-gold;
    }

    a {
      text-decoration: none;
      color: inherit;
      &.scrolled {
        background-color: colors.$parchment;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
