@use '../global/typography';

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Old Standard TT', serif;
    width: 100%;
    max-width: 1600px; 
    margin: 0 auto;
    padding: 1rem 3rem;
    
    .logo {
      position: sticky;
      top: 0;

    }
    
  }