@use "../global/typography";
@use "../global/colors";
@use "./mixins";

#features_q,
#reviews_q {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .question-section {
    outline: 1px solid yellow;
    height: 100vh;
    display: flex;
    align-items: center;

    @include mixins.sm-510 {
      margin-top: 10rem;
    }

    @include mixins.md-768 {
      margin-top: 6rem;
    }

    .question-content {
      margin-inline: 1rem;
      width: 100%;
      max-width: 850px;
      position: relative;
      padding: 1rem;

      @include mixins.xxs-max-479 {
        margin-top: 6rem;
      }

      @include mixins.xs-480 {
        margin-top: 14rem;
      }

      @include mixins.sm-510 {
        margin-top: 2rem;
      }

      .question-content__title {
        font-family: "Old Standard TT", serif;
        font-size: 2.5rem;
        text-align: right;
        outline: 1px solid yellow;

        .question {
          font-style: italic;
        }

        @include mixins.xxs-max-479 {
          text-align: right;
          line-height: 1.4;
          font-size: clamp(1.25rem, 0.9984rem + 1.2579vw, 1.375rem);
        }
        
        @include mixins.xs-480 {
          margin-left: 3rem;
          font-size: clamp(1.375rem, -0.694rem + 6.8966vw, 1.5rem);
        }

        @include mixins.sm-510 {
          margin-left: 3rem;
          font-size: clamp(1.5rem, 1.2519rem + 0.7782vw, 1.625rem);
        }

        @include mixins.md-768 {
          font-size: clamp(1.625rem, 1.1945rem + 0.8969vw, 1.75rem);
        }

      }

      .question-content__text {
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.6;
        outline: 1px solid yellow;

        @include mixins.xxs-max-479 {
          text-align: right;
          font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
        }

      }
    }
  }
}

#purchase_q {
  @extend #features_q, #reviews_q;
  align-items: flex-start;

  .question-section {
    .question-content {

      @include mixins.sm-510 {
        margin-top: 16rem;
      }
      
      @include mixins.md-768 {
        margin-top: 9rem;
        margin-left: 3rem;
      }
  
      .question-content__title {
        text-align: left;
        .question {
          font-style: italic;
        }
      }
      .question-content__text {
        text-align: left;
      }
    }
  }
}