@use "../global/typography";
@use "../global/colors";

#question {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 3;

  .question-section {
    // outline: 1px solid red;
    height: 100vh;
    display: flex;
    align-items: center;

    .question-content {
      margin-inline: 1rem;
      width: 100%;
      max-width: 850px;
      position: relative;
      padding: 1rem;

      .question-content__title {
        font-family: "Old Standard TT", serif;
        font-size: 2.5rem;
        text-align: right;
        // outline: 1px solid red;
        .question {
          font-style: italic;
        }
      }

      .question-content__text {
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.6;
        // outline: 1px solid red;
      }
    }
  }
}
