@use "../global/typography";
@use "../global/colors";
@use "./mixins";

#features_q,
#reviews_q {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 3;

  .question-section {
    // outline: 1px solid red;
    height: 100vh;
    display: flex;
    align-items: center;

    @include mixins.xxs-max-479 {
      height: 50vh;
      margin-bottom: 7vh;
    }

    .question-content {
      margin-inline: 1rem;
      width: 100%;
      max-width: 850px;
      position: relative;
      padding: 1rem;

      @include mixins.xxs-max-479 {
        top: 27vh;
        padding: 0;
      }

      .question-content__title {
        font-family: "Old Standard TT", serif;
        font-size: 2.5rem;
        text-align: right;
        // outline: 1px solid red;

        @include mixins.xxs-max-479 {
          text-align: right;
          line-height: 1.4;
          font-size: clamp(1.25rem, 0.9984rem + 1.2579vw, 1.375rem);
        }
        
        .question {
          font-style: italic;
        }
      }

      .question-content__text {
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.6;
        // outline: 1px solid red;
        @include mixins.xxs-max-479 {
          text-align: right;
          font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
        }
      }
    }
  }
}

#purchase_q {
  @extend #features_q, #reviews_q;
  align-items: flex-start;

  .question-section {
    .question-content {
      .question-content__title {
        text-align: left;
        .question {
          font-style: italic;
        }
      }
      .question-content__text {
        text-align: left;
      }
    }
  }
}