@use "../global/typography";
@use "../global/colors";
@use "./mixins";

#reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mixins.lg-992 {
    margin-left: 5rem;
  }

  .reviews-section {
    outline: 1px solid violet;
    height: 100vh;
    display: flex;
    align-items: center;

    @include mixins.xxs-max-479 {
      height: 76vh;
    }

    @include mixins.md-768 {
      height: 70vh;
    }

    @include mixins.lg-992 {
      height: 80vh;
    }

    .reviews-content {
      margin-inline: 1rem;
      width: 100%;
      max-width: 850px;
      position: relative;
      padding: 1rem;
      outline: 1px solid violet;

      @include mixins.xxs-max-479 {
        margin-top: 10rem;
      }

      @include mixins.xs-480 {
        margin-top: 10rem;
        margin-left: 3rem;
      }

      @include mixins.sm-510 {
        margin-top: 20rem;
        margin-left: 3rem;
      }

      @include mixins.md-768 {
        margin-left: 3rem;
      }

      @include mixins.xl-1200 {
        max-width: 650px;
      }

      .reviews-content__rating {
        outline: 1px solid violet;
        text-align: left;

        @include mixins.xxs-max-479 {
          text-align: center;
        }
      }
      

      .reviews-content__title {
        font-family: "Old Standard TT", serif;
        font-size: 2.5rem;
        text-align: left;
        outline: 1px solid violet;

        @include mixins.xxs-max-479 {
          text-align: center;
          font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
        }

        @include mixins.xs-480 {
          font-size: clamp(1.375rem, -0.694rem + 6.8966vw, 1.5rem);
        }
        
        @include mixins.sm-510 {
          font-size: clamp(1.5rem, 1.2519rem + 0.7782vw, 1.625rem);
        }

        @include mixins.md-768 {
          font-size: clamp(1.625rem, 1.1945rem + 0.8969vw, 1.75rem);
        }
      }

      .reviews-content__text {
        p {
          text-align: left;
          font-size: 1.2rem;
          line-height: 1.3;
          margin-bottom: 20px;

          @include mixins.xxs-max-479 {
            text-align: left;
            line-height: 1.2;
            font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
          }

          @include mixins.xs-480 {
            font-size: clamp(1rem, -1.069rem + 6.8966vw, 1.125rem);
          }

          @include mixins.sm-510 {
            font-size: clamp(1.125rem, 0.8769rem + 0.7782vw, 1.25rem);
          }

          @include mixins.md-768 {
            font-size: clamp(1.125rem, 0.6945rem + 0.8969vw, 1.25rem);
          }

          @include mixins.uw-2560 {
            font-size: clamp(1.75rem, 1.3859rem + 0.2275vw, 1.875rem);
          }

          @include mixins.uw-3440 {
            font-size: clamp(1.875rem, 0.7973rem + 0.5013vw, 2rem);
          }

          @include mixins.uw-3840 {
            font-size: clamp(2rem, 1.625rem + 0.1563vw, 2.125rem);
          }

          @include mixins.uw-5120 {
            font-size: clamp(2.125rem, 1.9167rem + 0.0651vw, 2.25rem);
          }
        }
        outline: 1px solid violet;
      }
    }
  }
}

.gear-rating {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-left: 10px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
