@use "../global/typography";
@use "../global/colors";
@use "./mixins";

#reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .reviews-section {
    outline: 1px solid violet;
    height: 100vh;
    display: flex;
    align-items: center;

    .reviews-content {
      margin-inline: 1rem;
      width: 100%;
      max-width: 850px;
      position: relative;
      padding: 1rem;
      outline: 1px solid violet;

      @include mixins.xxs-max-479 {
        margin-top: 10rem;
        padding: 0;
      }

      @include mixins.xs-480 {
        margin-top: 10rem;
        margin-left: 3rem;
      }

      .reviews-content__rating {
        outline: 1px solid violet;
        text-align: left;

        @include mixins.xxs-max-479 {
          text-align: center;
        }
      }

      .reviews-content__title {
        font-family: "Old Standard TT", serif;
        font-size: 2.5rem;
        text-align: left;
        outline: 1px solid violet;

        @include mixins.xxs-max-479 {
          text-align: center;
          font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
        }

        @include mixins.xs-480 {
          font-size: clamp(1.375rem, -0.694rem + 6.8966vw, 1.5rem);
        }
      }

      .reviews-content__text {
        p {
          text-align: left;
          font-size: 1.2rem;
          line-height: 1.6;
          margin-bottom: 20px;

          @include mixins.xxs-max-479 {
            text-align: left;
            line-height: 1.2;
            font-size: clamp(1rem, 0.7484rem + 1.2579vw, 1.125rem);
          }

          @include mixins.xs-480 {
            font-size: clamp(1rem, -1.069rem + 6.8966vw, 1.125rem);
          }
        }
        outline: 1px solid violet;
      }
    }
  }
}

.gear-rating {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-left: 10px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
