@use "../global/typography";
@use "../global/colors";

#reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  .reviews-section {
    // outline: 1px solid red;
    height: 100vh;
    display: flex;
    align-items: center;

    .reviews-content {
      margin-inline: 1rem;
      width: 100%;
      max-width: 850px;
      position: relative;
      padding: 1rem;

      .reviews-content__title {
        font-family: "Old Standard TT", serif;
        font-size: 2.5rem;
        text-align: left;
        // outline: 1px solid red;
      }

      .reviews-content__text {
        p {
          text-align: left;
          font-size: 1.2rem;
          line-height: 1.6;
          margin-bottom: 20px;
        }
        // outline: 1px solid red;
      }
    }
  }
}