@use "../global/colors";

.stripe__one {
  position: fixed;
  width: 50px;
  height: 100vh;
  left: 16vw;
  background-color: colors.$rusted-red;
}

.stripe__two {
  position: fixed;
  width: 50px;
  left: 19vw;
  height: 100vh;
  background-color: colors.$brass;
}

.stripe__three {
  position: fixed;
  width: 50px;
  left: 22vw;
  height: 100vh;
  background-color: colors.$teal;
}
