@use "../global/colors";

#stripes {
  .stripe__one {
    position: fixed;
    width: 60px;
    height: 100vh;
    left: 0;
    background-color: colors.$rusted-red;
  }
  
  .stripe__two {
    position: fixed;
    width: 60px;
    left: 3vw;
    height: 100vh;
    background-color: colors.$brass;
  }
  
  .stripe__three {
    position: fixed;
    width: 60px;
    left: 6vw;
    height: 100vh;
    background-color: colors.$teal;
  }
  transform: skew(45deg);
}


