@use "../global/colors";
@use "./mixins";

#stripes {
  .stripe__one {
    overflow: hidden;
    position: fixed;
    width: 7rem;
    height: 100vh;
    opacity: 0;
    margin-left: 250px;
    background-color: colors.$rusted-red;

    @include mixins.xxxl-1920 {
      margin-left: 180px;
    }

    @include mixins.xxl-1600 {
      margin-left: 145px;
    }

    @include mixins.xl-1200 {
      width: 5rem;
      margin-left: 95px;
    }

    @include mixins.lg-992 {
      width: 1rem;
      margin-left: 14px;
    }

    @include mixins.md-768 {
      width: 0.4rem;
      margin-left: 10px;
    }
  }

  .stripe__two {
    overflow: hidden;
    position: fixed;
    width: 7rem;
    margin-left: 400px;
    opacity: 0;
    z-index: 2;
    height: 100vh;
    background-color: colors.$brass;

    @include mixins.xxxl-1920 {
      margin-left: 330px;
    }

    @include mixins.xxl-1600 {
      margin-left: 290px;
    }

    @include mixins.xl-1200 {
      width: 5rem;
      margin-left: 210px;
    }

    @include mixins.lg-992 {
      width: 1rem;
      margin-left: 34px;
    }

    @include mixins.md-768 {
      width: 0.4rem;
      margin-left: 20px;
    }

  }

  .stripe__three {
    overflow: hidden;
    position: fixed;
    width: 7rem;
    margin-left: 550px;
    opacity: 0;
    height: 100vh;
    background-color: colors.$light-gold;

    @include mixins.xxxl-1920 {
      margin-left: 475px;
    }

    @include mixins.xxl-1600 {
      margin-left: 440px;
    }

    @include mixins.xl-1200 {
      width: 5rem;
      margin-left: 325px;
    }

    @include mixins.lg-992 {
      width: 1rem;
      margin-left: 54px;
    }

    @include mixins.md-768 {
      width: 0.4rem;
      margin-left: 30px;
    }

  }
}
