@use "../global/colors";

#stripes {
  position: fixed;
  width: 200px;
  height: 100vh;
  left: 16.75%;
  background: linear-gradient(
    to right,
    colors.$muted-brown 75%,
    colors.$light-gold 25%,
  );

  z-index: 0;
}
