@use "../global/colors";

.canvas-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2rem;
  height: 700px;
  width: 100%;
  max-width: 825px;
  overflow: hidden;
  z-index: 3;
}

.canvas {
  width: 100%;
  height: 100%; 
}

.webgl-warning {
  display: none;
}

.webgl-warning-visible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: colors.$parchment;
  font-size: 24px;
  text-align: center;
  z-index: 999;
}

.webgl-warning-visible p {
  margin: 0;
  padding: 20px;
}