@use "../global/typography";
@use "../global/colors";

nav {
  position: relative;
  display: flex;
  max-width: 85%;
  padding-top: 1.5rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.logo {
  top: 4vh;
  left: 4vw;
  font-size: 1rem;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
}

.order-button {
  padding: 0.75rem 1.5rem;
  border-radius: 5%;
  background: colors.$muted-brown;
  color: colors.$parchment;
  font-style: bold;

  &:active {
    background: colors.$light-gold;
    color: colors.$vintage-black;
  }
}

ul {
  list-style: none;

  a {
    color: inherit;
    text-decoration: none;
    outline: none;
  }
}
